.settings
release/
.project
build/
out/
.classpath
./bin/
client/target
libraries/target
deployments/target
pom.xml/target
scripts/target
service/target
model/target
component/target/
*.iml
*.bak
.idea
target/
.metadata/
