<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="key"
          class="encryptdemo.persist.factory.Key">
        <!-- todo use property placeholder configurator to substitute arbitrary string from filesystem -->
        <property name="keyString" value="This parrot is dead.  This is a dead parrot." />

    </bean>

</beans>